@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=xMQOuFFYT72X5wkB_18qmnndmSeMmX-KO5RqJuKWC6hDEUgJeqSYpIu5E77_vWptKg5Cu_hphlQ5SQ6WF4VMVmV03twWS1DpWGFxmI4OMJE9MkQz1ulDmGCxxOa58Ur_hvdMkXAFS9KPykZvlWpoyyeO9e9dV-rfGe07u1i_-Gck9HhJzPx0c8Suk_o5tP2T1h4NAj64TjhCt2raljjN3iWrktWAuspXttmrZbxyB_bUBEj6Rd3e6aMrhfHNlSgz6U2g1Gg08k3ZbM0lvMatVzN5AyWS_VjnM1dhu7FQV4HECqAtzAlZcVkgXO7_jomLD_uCwdZGExJQDuu8VI92wcHzkklvZ8Wv1nyuzz156Ijy1Vm5hDD4xUTQGYAJDUJXYr7mwUZg2_DT_2XRLrC4ofuZoCIbiJ2dh8ll5MgdpPM9Hr85S_iexEX4qOX8oGy7-DwQnGNZ2VjV7Hikqz_ke7DGmDTJOOqVzVNacDhwwracEgK2VWtfC5xP9gQWoW4NUC0hByZiqPJksLGAqQ5oXpGQ8vVg0VtDQE7wT4onp-Q2dxS58zOzQ5ApoktQkQ&skey=f471733f169f3f71&v=v17) format('truetype');
}
@font-face {
  font-family: 'Sora';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=xMQOuFFYT72X5wkB_18qmnndmSe1mX-KO5RqJuKWC6hDEUgJeqSYpIu5E77_vWptKg5Cu_hphlQ5SQ6WF4VMVmV03twWS1DpWGFxmI4OMJE9MkQz1ulDmGCxxOa58Ur_hvdMkXAFS9KPykZvlWpoyyeO9e9dV-rfGe07u1i_-Gck9HhJzPx0c8Suk_o5tP2T1h4NAj64TjhCt2raljjN3iWrktWAuspXttmrZbxyB_bUBEj6Rd3e6aMrhfHNlSgz6U2g1Gg08k3ZbM0lvMatVzN5AyWS_VjnM1dhu7FQV4HECqAtzAlZcVkgXO7_jomLD_uCwdZGExJQDuu8VI92wcHzkklvZ8Wv1nyuzz156Ijy1Vm5hDD4xUTQGYAJDUJXYr7mwUZg2_DT_2XRLrC4ofuZoCIbiJ2dh8ll5MgdpPM9Hr85S_iexEX4qOX8oGy7-DwQnGNZ2VjV7Hikqz_ke7DGmDTJOOqVzVNacDhwwracEgK2VWtfC5xP9gQWoW4NUC0hByZiqPJksLGAqQ5oXpGQ8vVg0VtDQE7wT4onp-Q2dxS58zOzQ5ApoktQkQ&skey=f471733f169f3f71&v=v17) format('truetype');
}
